@charset 'utf-8';


$global-color: #e62318;

.search {
    height: 112px;

    .w {
        position: relative;
    }

    h1 {
        width: 176px;
        height: 72px;
        margin: 26px 12px 0;
    }



    .small-banner {
        position: absolute;
        top: 0px;
        left: 230px;
    }

    .top-erweima {
        width: 223px;
        height: 108px;
        position: absolute;
        right: 0;
        top: 10px;
    }

    .search-module {
        width: 490px;
        position: absolute;
        top: -4px;
        left: 427px;


        .goods-search {

            width: 100%;
            height: 36px;
            background-color: #e62318;

            .search-input {
                width: 380px;
                border: 0 none;
                color: #333;
                font-size: 14px;
                line-height: 24px;
                height: 22px;
                padding: 4px 10px;
                margin-top: 3px;
                margin-left: 3px;
            }

            .search-button {
                background: none;
                height: 36px;
                width: 90px;
                cursor: pointer;
                padding: 0;
                border: 0;
                position: absolute;
                right: 0;
                font-size: 16px;
                color: white
            }

        }


        .keywords {
            padding: 5px 0;

            .hot-key {
                font-size: 14px;
                padding: 0 2px;
            }

            .hot-key:hover {
                color: $global-color !important;
            }
        }
    }
}


.on {
    color: $global-color;
}

.index-nav {
    height: 36px;
    line-height: 36px;
    border-bottom: 2px solid $global-color;

    h2 {
        float: left;
        width: 200px;
        background-color: $global-color;
        font-size: 15px;
        color: #f0f0f0;
        text-align: center;
        cursor: pointer;
    }

    ul {
        float: left;

        li {
            float: left;
            padding: 0 15px;
            font-size: 16px;
        }
    }
}

.classify {
    margin-top: 30px;
    width: 100%;

    dl {
        border: 1px solid #eaeaea;
        background-color: #f5f5f5;
    }

    .title {
        dd {
            width: 1159px;

            .tips {
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }

    dl+dl {
        border-top: 0;
    }



    dt {
        width: 107px;
        line-height: 36px;
        padding-left: 18px;
        float: left;
    }

    dd {
        float: left;
        width: 1034px;
        padding: 8px 13px 8px 26px;
        background: #fff;

        .list {
            width: 900px;

            a {
                display: inline-block;
                padding: 0 4px 0 3px;
                margin-right: 27px;
                margin-bottom: 2px;
                border: 1px solid #fff;
                line-height: 18px;
            }
        }

        .shell {
            overflow: hidden;
            height: 26px;
        }

        .more {
            position: relative;
            top: -10px;
        }




    }

    .selected {
        display: none;
        .current {
            height: 16px;
            line-height: 16px;
            padding: 1px 8px;
            border: 1px solid #e62318;
            margin: 0 5px 1px 0;
            color: #e62318;
            float: left;
            a {
                display: inline-block;
                width: 7px;
                height: 7px;
                overflow: hidden;
                background: url('../images/listicon.png') -69px -237px no-repeat;
                margin-top: 5px;
                margin-left: 8px;
            }
        }
    }

    .goods_price {
        .list {
            width: 510px;
        }

        input {
            display: inline-block;
            height: auto;
            width: 58px;
        }

        .pirce_comfirm {
            border: 1px solid #dbdbdb;
            height: 22px;
            margin-left: 5px;
            background: #f4f4f4;
            cursor: pointer;
            color: #67544e;
        }
    }

}

.goods_screen {
    margin-top: 20px;

    .w {
        width: 1180px;
        height: 25px;
        line-height: 24px;
        padding: 6px 10px 5px;
        border: solid 1px #e6e6e6;
        background: #f3f3f3;
    }

    .screen_left {
        float: left;

        a {
            display: inline-block;
            height: 22px;
            padding: 0 9px;
            border: 1px solid #e6e6e6;
            border-left: none;
            text-align: center;
            color: #666;
            line-height: 22px;

            &:hover {
                background-color: $global-color;
                color: #f0f0f0;
            }
        }
    }

    .screen_right {
        float: right;

        .goods_total {
            float: left;
        }

        .goods_page {
            float: left;
            padding-left: 10px;

            a {
                display: inline-block;
                width: 23px;
                height: 21px;
                vertical-align: middle;
                background: url(../images/listicon.png)
            }

            .prev {
                background-position: -21px -192px;
                // background-position: -21px -213px;
            }

            .next {
                background-position: -46px -192px;
                // background-position: -45px -213px;
            }
        }

        .goods_num {
            color: $global-color;
        }
    }


}


.list_goods {


    .list {
        position: relative;
        text-align: center;
        li {
            width: 280px;
            height: 300px;
            float: left;
            position: relative;
            margin-top: 15px;
            margin-right: 20px;
            cursor: pointer;
        }

        .box {

            padding: 3px;
            border: 2px solid #f5f5f5;
            background-color: #fff;
            position: absolute;

            &:hover {
                height: 320px;
                border: 2px solid $global-color;

                .option {
                    display: block;
                }
            }
        }

        .small_img {
            height: 177px;
            background-color: orange;
        }

        .price {
            padding: 10px 0 5px 0;
            font-family: Arial;
            font-weight: 400;
            color: $global-color;
            text-align: left;
            span {
                font-size: 20px;
            }
        }

        .name {
            display: block;
            height: 38px;
            line-height: 20px;
            color: #333;
            overflow: hidden;
            text-align: left;
        }

        .sale {
            height: 30px;
            line-height: 30px;
            text-align: left;
        }

        .option {
            padding: 4px 0;
            display: none;

            a {
                padding: 0px 14px;
                border: 1px solid #dedede;
                line-height: 26px;
                float: left;
                position: relative;
                &:hover {
                    border-color: $global-color;
                }
            }

            i {
                display: inline-block;
                width: 13px;
                height: 14px;
                background: url(../images/listicon.png);

            }

            .comparison {
                i {
                    background-position: -1px -2px;
                }

                &:hover i {
                    background-position: -1px -26px;
                }

            }



            .like {
                i {
                    width: 17px;
                    height: 13px;
                    background-position: -34px -3px;
                }

                &:hover i {
                    background-position: -34px -27px;
                }
            }

            .addCar {
                i {
                    width: 16px;
                    height: 15px;
                    background-position: -72px -1px;
                }
            }




        }
    }

}

.layui-box{
    margin: 20px 0;
}