@charset 'utf-8';

$global-color: #e62318;

@mixin hover {
    top: -1.5%;
    left: -1.5%;
    transform: scale(1.05);
    transition: transform 1s, -webkit-transform 1s;

}



.search {
    height: 112px;

    .w {
        position: relative;
    }

    h1 {
        width: 176px;
        height: 72px;
        margin: 26px 12px 0;
    }

    .top-erweima {
        width: 223px;
        height: 108px;
        position: absolute;
        right: 0;
        top: 10px;
    }

    .search-module {
        width: 610px;
        position: absolute;
        top: 30px;
        left: 330px;

        .search-input {
            width: 542px;
            border: 0 none;
            background: #f0f0f0;
            color: #333;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            padding: 9px 16px;
        }

        .search-button {
            background: #f0f0f0;
            height: 38px;
            width: 36px;
            cursor: pointer;
            padding: 0;
            border: 0;
            position: absolute;
            right: 0;

        }

        i {
            display: block;
            width: 22px;
            height: 22px;
            background: url(../../dist/images/index.png) -60px -251px no-repeat;
            position: absolute;
            top: 8px;
            right: 7px;
            cursor: pointer;
        }

        .keywords {
            padding: 5px 0;

            .hot-key {
                font-size: 14px;
                padding: 0 2px;
            }

            .hot-key:hover {
                color: $global-color !important;
            }
        }
    }
}

.on {
    color: $global-color;
}

.index-nav {
    height: 36px;
    line-height: 36px;

    h2 {
        float: left;
        width: 200px;
        background-color: $global-color;
        font-size: 15px;
        color: #f0f0f0;
        text-align: center;
        cursor: pointer;
    }

    ul {
        float: left;

        li {
            float: left;
            padding: 0 15px;
            font-size: 16px;
        }
    }
}


.banner {
    width: 100%;
    height: 460px;

    .active {
        background-color: #333 !important;
    }

    .banner-img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;

        li {
            position: absolute;
            width: 100%;
            height: 460px;
            opacity: 0;
        }

        a {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0;
            width: 1200px;
            height: 460px;
            z-index: 20;
        }
    }



    .w {
        position: relative;
        height: 460px;
    }

    //*********************底部滑块********************
    .scroll-btn {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 21;
        text-align: center;

        li {
            width: 30px;
            height: 5px;
            margin: 0 2px;
            background-color: #fff;
            cursor: pointer;
            display: inline-block;
        }
    }

    //*********************底部滑块********************


    //*********************侧边导航栏********************
    .banner-nav {
        width: 200px;
        height: 434px;
        padding: 9px 0 17px;
        background: rgba(00, 00, 00, .8);
        position: absolute;
        z-index: 30;
        left: 0;
        top: 0;

        li {
            height: 31px;
            line-height: 31px;
            padding-left: 20px;
            color: #c8c8c8;

            &:hover {
                transition: .3s;
                background-color: rgba(255, 255, 255, .9);
                color: #333;
                padding-left: 25px;

                // .banner-sub-menu{
                //     display: block;
                //     transition: .3s;
                //     padding-left: 10px;

                // }

            }


            a {
                font-size: 14px;
            }


        }

        .item-title-top {
            color: #f0f0f0;

            .icon {
                float: left;
                width: 20px;
                height: 20px;
                margin: 6px 10px 0 0;
                background: url(../../dist/images/banner-nav.png) no-repeat;
                background-position: -55px -48px;

            }

            &:hover {
                .icon {
                    background: url(../../dist/images/banner-nav.png) no-repeat;
                    background-position: -97px -48px;
                }
            }

        }

        .item-title-middle {
            .icon {
                float: left;
                width: 20px;
                height: 20px;
                margin: 6px 10px 0 0;
                background: url(../../dist/images/banner-nav.png) no-repeat;
                background-position: -55px -84px;

            }

            &:hover {
                .icon {
                    background: url(../../dist/images/banner-nav.png) no-repeat;
                    background-position: -98px -84px;
                }
            }
        }

        .item-title-bottom {
            .icon {
                float: left;
                width: 20px;
                height: 20px;
                margin: 6px 10px 0 0;
                background: url(../../dist/images/banner-nav.png) no-repeat;
                background-position: -55px -123px;

            }

            &:hover {
                .icon {
                    background: url(../../dist/images/banner-nav.png) no-repeat;
                    background-position: -96px -123px;
                }
            }
        }







        .banner-sub-menu {
            width: 616px;
            height: 427px;
            padding: 9px 30px 25px 0;
            left: 200px;
            top: 0;
            background: rgba(255, 255, 255, .95);
            z-index: 10000;
            position: absolute;
            line-height: 20px;
            color: #333;
            display: none;

            .list-module {
                margin-top: 16px;
            }

            .left-list {
                float: left;

                .title {
                    float: left;
                    width: 73px;
                    height: 20px;
                    padding-left: 20px;
                }

                .list {
                    width: 300px;
                    float: left;
                    padding-bottom: 16px;
                    border-bottom: 1px dashed #afacb1;

                    a {
                        display: inline-block;
                        margin-right: 16px;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }

            .right-list {
                float: right;
                width: 190px;

                h6 {
                    padding: 16px 0 12px;
                    font-size: 14px;
                }

                .tag {
                    margin-bottom: 25px;

                    a {
                        display: inline-block;
                        margin-right: 16px;
                        font-size: 12px;
                    }
                }

                .samll-img {
                    width: 190px;
                    height: 260px;
                }
            }
        }



        .item-title-top,
        .item-title-middle,
        .item-title-top {
            .banner-sub-menu {
                width: 750px;

                .left-list {
                    float: left;

                    .title {
                        width: 83px;
                    }

                    .list {
                        width: 433px;
                    }
                }

            }

        }


    }

    //*********************侧边导航栏********************
}

body {
    height: 3000px
}

.selection {
    h3 {
        font-size: 24px;
        color: #333;
        font-weight: 700;
        margin: 44px 0 16px 0;
    }

    .layui-container {
        padding: 0 !important;
        margin: 0 !important;

        a {
            display: inline-block;
            height: 200px;
            width: 193px;
            overflow: hidden;
            position: relative;

            &:hover {
                &>img {
                    @include hover
                }
            }
        }
    }

}

.group {
    ul {
        margin-top: 60px;

        li {
            margin-left: 10px;
            float: left;
            position: relative;

            &:hover {
                &>img {
                    top: -1.5%;
                    left: -1.5%;
                    transform: scale(1.05);
                    transition: transform 1s, -webkit-transform 1s;

                }
            }

            .represent-a {
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 100%;

                .describe {
                    padding: 16px 0 5px 0;
                    height: 30px;
                    overflow: hidden;
                    font-size: 24px;
                }

                .describ {
                    padding-top: 5px;
                    font-size: 14px;
                }
            }

            &:nth-of-type(1) {

                margin-left: 0;

                .title {
                    position: absolute;
                    background: #fff;
                    left: 50%;
                    top: 30%;
                    transform: translate(-50%, -50%);
                    padding: 10px;
                    width: 200px;
                    height: 90px;

                    .represent {
                        height: 100%;
                        padding: 0 20px;
                        border: 1px solid #ececec;
                        text-align: center;

                        .describe {
                            padding: 16px 0 5px 0;
                            border-bottom: 1px dashed #dfd3e9;
                            margin-bottom: 0;
                            width: 100%;
                            height: 30px;
                            overflow: hidden;
                            font-size: 24px;
                        }

                        .describ {
                            padding-top: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }


}


.scroll-image {
    margin-top: 50px;

    .w {
        position: relative;
    }



    .scroll-detail {
        height: 770px;
        position: relative;


        li {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            overflow: hidden;
        }

        .scroll-index {
            width: 100%;
            height: 400px;
            overflow: hidden;

            &:hover {
                img {
                    @include hover
                }
            }

        }

        .goods-list {
            margin-top: 20px;
            height: 350px;

            .goods {
                width: 285px;
                height: 350px;
                float: left;
                margin-right: 20px;
                text-align: center;

                a {
                    display: block;
                    overflow: hidden;
                }

                &:nth-of-type(4) {
                    margin-right: 0;
                }

                &:hover {
                    & img {
                        @include hover()
                    }
                }

                .name {
                    padding: 18px 0 3px 0;
                    font-size: 14px;
                }

                .price {
                    font-size: 14px;
                    color: $global-color
                }
            }

        }

    }

    .scroll-detail-btn {
        height: 34px;
        position: absolute;
        bottom: 370px;
        right: 0;
        z-index: 200;

        .btn {
            text-align: center;
            line-height: 34px;
            width: 90px;
            height: 34px;
            float: left;
            background-color: #000;
            opacity: .6;
            color: #fff;
            font-size: 14px;
        }

        .current {
            background-color: #fff;
            opacity: 1;
            color: #333;
        }
    }


    .list {
        position: absolute;
        width: 225px;
        height: 300px;
        top: 50px;
        left: 50px;
        background: #fff;
        z-index: 200;

        .name {
            text-align: center;
            margin-top: 29px;
        }

        .china-name {
            color: #333;
            font-size: 40px;
            line-height: 48px;
            font-family: '微软雅黑';
        }

        .english-name {
            color: black;
            font-size: 12px;
            line-height: 18px;
            font-family: '微软雅黑';
            letter-spacing: 3px;

            a:hover {
                color: #999 !important;
            }
        }

        .type {
            padding: 31px 15px 0 20px;

            a {
                display: block;
                margin: 0 5px 5px 0;
                width: 90px;
                height: 25px;
                color: #333;
                font-size: 14px;
                line-height: 25px;
                text-align: center;
                background: #f5f5f5;
                float: left;

                &:hover {
                    background: $global-color;
                    color: #fff !important;
                }
            }
        }
    }
}