@charset 'utf-8';


// reset文件*********************************************************
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ol,
ul,
dd,
input,
textarea,
button {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: top;
    border: 0;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "微软雅黑", "宋体", Arial;
    font-size: 12px;
    color: #666;
}

input {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

textarea {
    resize: none;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none;
}

/*input,button,textarea,select{
	outline: none;
}*/
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

.sl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clear {
    zoom: 1;
}

a:hover {
    color: #e62318
}

// reset文件*********************************************************

$global-color: #e62318;

@mixin hover {
    top: -1.5%;
    left: -1.5%;
    transform: scale(1.05);
    transition: transform 1s, -webkit-transform 1s;

}




header {
    background-color: #f8f8f8;
    height: 30px;
    width: 100%;
    line-height: 28px;
    color: #717171;

    .header-left {
        float: left;
        overflow: hidden;

        strong {
            color: $global-color
        }

        i {
            color: $global-color;
            padding: 2px;
            font-size: 12px;
        }

        a {
            padding: 2px
        }

        .username {
            margin-left: 6px;
            color: black;

            &:hover {
                color: $global-color
            }

            display: none;
        }

        .user_out {
            display: none;
        }


        .login {
            margin: 0 7px;
        }
    }


    .header-right {
        float: right;

        i {
            display: inline-block;
            width: 7px;
            height: 4px;
            background: url(../../dist/images/nav.png) no-repeat;
            position: relative;
            top: -3px;
            transition: .2s ease-in-out;
        }

        li {
            float: left;
            line-height: 28px;
            position: relative;
            z-index: 50;
        }

        li:last-of-type {
            height: 28px;
            overflow: hidden;
        }


        li:hover {

            &:hover>a {
                color: $global-color;
            }

            i {
                transform: rotate(-180deg);
            }

            .sub-menu {
                border-color: #eaeaea;
                display: block;
            }

            .top-text {
                border-color: #eaeaea;
                background-color: #fff;

                a {
                    color: $global-color;
                }
            }

            .sub-particulars {
                display: block;
            }

            .sub-erweima {
                display: block;
            }

            .sub-help {
                display: block;
            }
        }

        .top-text {
            padding: 0 5px;
            border: 1px solid transparent;
            border-bottom: 0;
        }

        .my-center {
            .top-text {
                width: 71px;
            }

            .sub-menu {
                width: 71px;
                padding: 0 5px;
                border: 1px solid transparent;
                border-top: 0;
                background-color: white;
                display: none;
                text-align: left;
                position: absolute;

                a {
                    display: block;

                }
            }

        }



        .shopping-trolley {
            width: 92px;

            em {
                display: inline-block;
                width: 17px;
                height: 14px;
                background: url(../../dist/images/nav.png) no-repeat;
                background-position: 0 -53px;
                position: relative;
                top: 1px;
            }

            .sub-particulars {
                width: 245px;
                background: #fff;
                border: 1px solid #eaeaea;
                border-top: 0;
                display: none;
                position: absolute;

                .shopping-null {
                    padding: 30px 15px;
                }
            }
        }

        .attention {
            width: 106px;

            em {
                display: inline-block;
                width: 17px;
                height: 14px;
                background: url(../../dist/images/nav.png) no-repeat;
                background-position: 0 -10px;
                position: relative;
                top: 2px;
            }


            .sub-erweima {
                text-align: center;
                display: none;
                position: absolute;

                .erweima {
                    width: 132px;
                    padding: 14px 22px;
                    border: 1px solid #eaeaea;
                    border-top: 0;
                    background-color: white;
                }

            }
        }

        .help {
            .top-text {
                width: 59px;
            }

            .sub-help {
                width: 59px;
                padding: 0 5px;
                border: 1px solid #eaeaea;
                border-top: 0;
                background-color: white;
                display: none;
                text-align: left;
                position: absolute;

                a {
                    display: block;

                }
            }
        }


        .tel-scroll {
            margin-left: 10px;
            position: relative;

            strong {
                color: $global-color;
                margin-left: 2px
            }
        }
    }

}


.search {
    height: 112px;

    .w {
        position: relative;
    }

    h1 {
        width: 176px;
        height: 72px;
        margin: 26px 12px 0;
        float: left;
    }

    .top-erweima {
        width: 223px;
        height: 108px;
        position: absolute;
        right: 0;
        top: 10px;
    }

    .search-module {
        width: 610px;
        position: absolute;
        top: 30px;
        left: 330px;

        .search-input {
            width: 542px;
            border: 0 none;
            background: #f0f0f0;
            color: #333;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            padding: 9px 16px;
        }

        .search-button {
            background: #f0f0f0;
            height: 38px;
            width: 36px;
            cursor: pointer;
            padding: 0;
            border: 0;
            position: absolute;
            right: 0;

        }

        i {
            display: block;
            width: 22px;
            height: 22px;
            background: url(../../dist/images/index.png) -60px -251px no-repeat;
            position: absolute;
            top: 8px;
            right: 7px;
            cursor: pointer;
        }

        .keywords {
            padding: 5px 0;

            .hot-key {
                font-size: 14px;
                padding: 0 2px;
            }

            .hot-key:hover {
                color: $global-color !important;
            }
        }
    }
}

.on {
    color: $global-color;
}

.index-nav {
    height: 36px;
    line-height: 36px;

    h2 {
        float: left;
        width: 200px;
        background-color: $global-color;
        font-size: 15px;
        color: #f0f0f0;
        text-align: center;
        cursor: pointer;
    }

    ul {
        float: left;

        li {
            float: left;
            padding: 0 15px;
            font-size: 16px;
        }
    }
}


.banner {
    width: 100%;
    height: 460px;

    .active {
        background-color: #333 !important;
    }

    .banner-img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;

        li {
            position: absolute;
            width: 100%;
            height: 460px;
            opacity: 0;
        }

        a {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0;
            width: 1200px;
            height: 460px;
            z-index: 20;
        }
    }



    .w {
        position: relative;
        height: 460px;
    }

    //*********************底部滑块********************
    .scroll-btn {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 21;
        text-align: center;

        li {
            width: 30px;
            height: 5px;
            margin: 0 2px;
            background-color: #fff;
            cursor: pointer;
            display: inline-block;
        }
    }

    //*********************底部滑块********************


    //*********************侧边导航栏********************
    .banner-nav {
        width: 200px;
        height: 434px;
        padding: 9px 0 17px;
        background: rgba(00, 00, 00, .8);
        position: absolute;
        z-index: 30;
        left: 0;
        top: 0;

        li {
            height: 31px;
            line-height: 31px;
            padding-left: 20px;
            color: #c8c8c8;

            &:hover {
                transition: .3s;
                background-color: rgba(255, 255, 255, .9);
                color: #333;
                padding-left: 25px;

                // .banner-sub-menu{
                //     display: block;
                //     transition: .3s;
                //     padding-left: 10px;

                // }

            }


            a {
                font-size: 14px;
            }


        }

        .item-title-top {
            color: #f0f0f0;

            .icon {
                float: left;
                width: 20px;
                height: 20px;
                margin: 6px 10px 0 0;
                background: url(../../dist/images/banner-nav.png) no-repeat;
                background-position: -55px -48px;

            }

            &:hover {
                .icon {
                    background: url(../../dist/images/banner-nav.png) no-repeat;
                    background-position: -97px -48px;
                }
            }

        }

        .item-title-middle {
            .icon {
                float: left;
                width: 20px;
                height: 20px;
                margin: 6px 10px 0 0;
                background: url(../../dist/images/banner-nav.png) no-repeat;
                background-position: -55px -84px;

            }

            &:hover {
                .icon {
                    background: url(../../dist/images/banner-nav.png) no-repeat;
                    background-position: -98px -84px;
                }
            }
        }

        .item-title-bottom {
            .icon {
                float: left;
                width: 20px;
                height: 20px;
                margin: 6px 10px 0 0;
                background: url(../../dist/images/banner-nav.png) no-repeat;
                background-position: -55px -123px;

            }

            &:hover {
                .icon {
                    background: url(../../dist/images/banner-nav.png) no-repeat;
                    background-position: -96px -123px;
                }
            }
        }







        .banner-sub-menu {
            width: 616px;
            height: 427px;
            padding: 9px 30px 25px 0;
            left: 200px;
            top: 0;
            background: rgba(255, 255, 255, .95);
            z-index: 10000;
            position: absolute;
            line-height: 20px;
            color: #333;
            display: none;

            .list-module {
                margin-top: 16px;
            }

            .left-list {
                float: left;

                .title {
                    float: left;
                    width: 73px;
                    height: 20px;
                    padding-left: 20px;
                }

                .list {
                    width: 300px;
                    float: left;
                    padding-bottom: 16px;
                    border-bottom: 1px dashed #afacb1;

                    a {
                        display: inline-block;
                        margin-right: 16px;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }

            .right-list {
                float: right;
                width: 190px;

                h6 {
                    padding: 16px 0 12px;
                    font-size: 14px;
                }

                .tag {
                    margin-bottom: 25px;

                    a {
                        display: inline-block;
                        margin-right: 16px;
                        font-size: 12px;
                    }
                }

                .samll-img {
                    width: 190px;
                    height: 260px;
                }
            }
        }



        .item-title-top,
        .item-title-middle,
        .item-title-top {
            .banner-sub-menu {
                width: 750px;

                .left-list {
                    float: left;

                    .title {
                        width: 83px;
                    }

                    .list {
                        width: 433px;
                    }
                }

            }

        }


    }

    //*********************侧边导航栏********************
}

body {
    height: 3000px
}

.selection {
    h3 {
        font-size: 24px;
        color: #333;
        font-weight: 700;
        margin: 44px 0 16px 0;
    }

    .layui-container {
        padding: 0 !important;
        margin: 0 !important;

        a {
            display: inline-block;
            height: 200px;
            width: 193px;
            overflow: hidden;
            position: relative;

            &:hover {
                &>img {
                    @include hover
                }
            }
        }
    }

}

.group {
    ul {
        margin-top: 60px;

        li {
            margin-left: 10px;
            float: left;
            position: relative;

            &:hover {
                &>img {
                    top: -1.5%;
                    left: -1.5%;
                    transform: scale(1.05);
                    transition: transform 1s, -webkit-transform 1s;

                }
            }

            .represent-a {
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 100%;

                .describe {
                    padding: 16px 0 5px 0;
                    height: 30px;
                    overflow: hidden;
                    font-size: 24px;
                }

                .describ {
                    padding-top: 5px;
                    font-size: 14px;
                }
            }

            &:nth-of-type(1) {

                margin-left: 0;

                .title {
                    position: absolute;
                    background: #fff;
                    left: 50%;
                    top: 30%;
                    transform: translate(-50%, -50%);
                    padding: 10px;
                    width: 200px;
                    height: 90px;

                    .represent {
                        height: 100%;
                        padding: 0 20px;
                        border: 1px solid #ececec;
                        text-align: center;

                        .describe {
                            padding: 16px 0 5px 0;
                            border-bottom: 1px dashed #dfd3e9;
                            margin-bottom: 0;
                            width: 100%;
                            height: 30px;
                            overflow: hidden;
                            font-size: 24px;
                        }

                        .describ {
                            padding-top: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }


}




.scroll-image {
    margin-top: 50px;

    .w {
        position: relative;
    }



    .scroll-detail {
        height: 770px;
        position: relative;


        li {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            overflow: hidden;
        }

        .scroll-index {
            width: 100%;
            height: 400px;
            overflow: hidden;

            &:hover {
                img {
                    @include hover
                }
            }

        }

        .goods-list {
            margin-top: 20px;
            height: 350px;

            .goods {
                width: 285px;
                height: 350px;
                float: left;
                margin-right: 20px;
                text-align: center;

                a {
                    display: block;
                    overflow: hidden;
                }

                &:nth-of-type(4) {
                    margin-right: 0;
                }

                &:hover {
                    & img {
                        @include hover()
                    }
                }

                .name {
                    padding: 18px 0 3px 0;
                    font-size: 14px;
                }

                .price {
                    font-size: 14px;
                    color: $global-color
                }
            }

        }

    }

    .scroll-detail-btn {
        height: 34px;
        position: absolute;
        bottom: 370px;
        right: 0;
        z-index: 200;

        .btn {
            text-align: center;
            line-height: 34px;
            width: 90px;
            height: 34px;
            float: left;
            background-color: #000;
            opacity: .6;
            color: #fff;
            font-size: 14px;
        }

        .current {
            background-color: #fff;
            opacity: 1;
            color: #333;
        }
    }


    .list {
        position: absolute;
        width: 225px;
        height: 300px;
        top: 50px;
        left: 50px;
        background: #fff;
        z-index: 200;

        .name {
            text-align: center;
            margin-top: 29px;
        }

        .china-name {
            color: #333;
            font-size: 40px;
            line-height: 48px;
            font-family: '微软雅黑';
        }

        .english-name {
            color: black;
            font-size: 12px;
            line-height: 18px;
            font-family: '微软雅黑';
            letter-spacing: 3px;

            a:hover {
                color: #999 !important;
            }
        }

        .type {
            padding: 31px 15px 0 20px;

            a {
                display: block;
                margin: 0 5px 5px 0;
                width: 90px;
                height: 25px;
                color: #333;
                font-size: 14px;
                line-height: 25px;
                text-align: center;
                background: #f5f5f5;
                float: left;

                &:hover {
                    background: $global-color;
                    color: #fff !important;
                }
            }
        }
    }
}


.footer-icon {
    margin-top: 35px;
    padding: 35px 0;
    border-bottom: 1px solid #ededed;
    background: #f8f8f8;

    a {
        width: 150px;
        height: 80px;
        float: left;
        text-align: center;

        i {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background: url(/dist/images/footerIcon.png);

        }


        &:nth-of-type(2)>i {
            background-position: -50px 0;
        }

        &:nth-of-type(3)>i {
            background-position: -100px 0;
        }

        &:nth-of-type(4)>i {
            background-position: -150px 0;
        }

        &:nth-of-type(5)>i {
            background-position: 0 -50px;
        }

        &:nth-of-type(6)>i {
            background-position: -50px -50px;
        }

        &:nth-of-type(7)>i {
            background-position: -100px -50px;
        }

        &:nth-of-type(8)>i {
            background-position: -150px -50px;
        }


        span {
            display: block;
            width: 100%;
            margin-top: 10px;
            font-size: 14px;
            color: #333;
        }


    }
}


.footer-help {
    padding: 35px 0 54px;
    background: #f8f8f8;

    .left {
        float: left;
        width: 240px;
        height: 165px;
        background: url(/dist/images/footer.png) 0 -100px no-repeat;

        p:nth-of-type(1) {
            font-size: 14px;
            color: #000;
        }

        p:nth-of-type(2) {
            font-size: 20px;
            color: $global-color;
            margin: 5px 0;
        }

        p:nth-of-type(3) {
            color: #999;

            span {
                color: $global-color;

            }

            margin-bottom: 30px;
        }

        a {
            display: block;
            width: 106px;
            height: 24px;
            border: 1px solid $global-color;
            line-height: 26px;

            i {
                display: inline-block;
                width: 11px;
                height: 16px;
                margin: 3px 0 0 3px;
                background: url(/dist/images/footerIcon.png);
            }

            span {
                position: relative;
                top: -2px;
                color: $global-color;
            }

            &:nth-of-type(1) {
                margin-bottom: 10px;

                i {
                    background-position: -11px -265px;

                }
            }

            &:nth-of-type(2) {
                i {
                    background-position: 0 -265px;
                }
            }


        }

    }




    .summarr {
        float: left;
        padding-left: 25px;
        dt {
            color: #444;
            font-size: 14px;
            padding: 3px 0 5px;
        }

        dl {
            float: left;
            width: 141px;


        }

        .youzan,
        .wechat {
            width: 115px;

            a {
                cursor: pointer;
                display: block;
                width: 96px;
                height: 96px;
            }

            dt{
                margin-bottom: 5px;
            }
        }

        dd {
            a {
                display: block;
                color: #999;
                margin-top: 9px;
            }
        }
    }
}


.footer-extend {
    background: #1f1f1f;
    padding: 21px 0 30px;

    .footerLink {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: solid 1px #2e2e2e;

        .hotCity,
        .firendLink {
            span {
                float: left;
                padding-right: 10px;
            }

            a {
                float: left;
                margin-right: 20px;
                line-height: 20px;
            }
        }

    }


    .footer-copyrights {
        .left {
            float: left;

            a,
            span {
                float: left;
                padding-bottom: 5px;
            }

            span {
                padding: 0 4px;
            }

        }


        .credit {
            float: right;

            li {
                width: 82;
                height: 40px;
                padding-right: 15px;
                float: left;

                i {
                    width: 27px;
                    float: left;
                    background: url(/dist/images/credit.png);
                    margin-right: 5px;
                }

                span {
                    width: 50px;
                    line-height: 20px;
                    cursor: pointer;
                    &:hover{
                        color:$global-color;
                    }
                }

                &:nth-of-type(1) {
                    line-height: 40px;

                    i {
                        height: 22px;
                        margin-top: 10px;

                    }
                }

                &:nth-of-type(2) {
                    i {
                        width: 32px;
                        height: 26px;
                        background-position: 0 -69px;
                        margin-top: 9px;
                    }
                }

                &:nth-of-type(3) {
                    i {
                        height: 21px;
                        background-position: 0 -47px;
                        margin-top: 11px;
                    }
                }

                &:nth-of-type(4) {
                    i {

                        height: 25px;
                        background-position: 0 -22px;
                        margin-top: 9px;

                    }
                }
            }
        }
    }
}