$global-color: #e62318;

.settleAccounts-header {
    height: 116px;
    background-color: #fff;
    line-height: 0;

    .w {
        height: 56px;
        padding: 30px 0;
    }

    .left {
        float: left;

        .logo {
            position: relative;
            display: inline-block;
            width: 160px;
            top: -10px;
        }

        span {
            font-size: 24px;
            position: relative;
            top: 28px;
            left: 12px;
            color: black;

        }
    }

    .right {
        float: right;
        width: 520px;
        height: 44px;
        background: url(/dist/images/flow_step.png) 0 -45px no-repeat;
        margin-top: 9px;

    }
}


.address {
    .title {
        height: 37px;
        line-height: 37px;

        span {
            float: left;
            font-size: 18px;
            font-weight: 100;
        }

        a {
            float: right;
            color: $global-color;

            i {
                font-size: 14px;
            }
        }
    }


    .address-box {
        padding: 4px;
        border: 1px solid #ddd;

        .addAddress {
            padding: 59px 0;
            text-align: center;
            font-size: 16px;
            color: $global-color;
            cursor: pointer;

            i {
                font-size: 16px;
                margin: 2px;
            }

        }



        .address-li {
            padding: 11px 20px;
            background-color: #fefaf1;
            vertical-align: middle;

            &:hover {
                .control {
                    display: inline-block;
                }
            }

            cursor: pointer;

            .left-icon {
                float: left;
                width: 56px;
                height: 20px;

                i {
                    display: inline-block;
                    margin-right: 5px;
                    vertical-align: top;
                    width: 12px;
                    height: 16px;
                    background: url(/dist/images/flow_pre_checkout_new.png) -15px 0px no-repeat;
                }
            }

            p {
                display: inline-block;
            }

            .address-detail {
                float: left;
                padding-left: 20px;

                input {
                    vertical-align: middle;
                }
            }

            .control {
                display: none;
                margin-left: 10px;
            }
        }

    }

    .info-input {
        display: none;

        .shadow {
            width: 98vw;
            height: 120vh;
            background-color: #000;
            opacity: .6;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100000;

        }

        .address-input {
            width: 910px;
            background: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000001;
            border: 5px solid rgba(200, 200, 200, .5);



            #city,
            #area {
                display: none;
            }

            .head {
                background: #f1f1f1;
                padding: 0 15px;
                font-size: 16px;
                height: 37px;
                line-height: 37px;

                a {
                    width: 20px;
                    height: 20px;
                    float: right;

                    i {
                        font-size: 20px;
                    }
                }
            }

            .address-input-table {
                td {
                    padding: 15px 0;
                }

                .label {
                    width: 120px;
                    text-align: right;


                }

                .must::before {
                    content: '*';
                    color: #e62318;
                }

                .value {
                    input {
                        height: 24px;
                        line-height: 20px;
                        color: #555;
                        border: 1px solid #ddd;
                        padding: 0 3px;
                    }


                    .btn {
                        float: left;
                        height: 20px;
                        padding-left: 10px;
                        color: #fff;
                        font-weight: 700;
                        background: url(/dist/images/bg2.png) 0 -140px no-repeat;
                        cursor: pointer;
                        padding-top: 5px;
                        line-height: 17px;

                        .rr {
                            float: right;
                            width: 10px;
                            background: url(/dist/images/bg2.png) -299px -140px no-repeat;
                            height: 25px;
                            margin-top: -5px;
                        }
                    }
                }

                tr:nth-of-type(3) {
                    input {
                        width: 320px;
                    }
                }
            }

            .addressSubmit,
            .updateAddress {
                position: relative;
            }

            #addressSubmit,
            #updateAddress {
                width: 102px;
                background: none;
                border: 0;
                position: absolute;
                left: 0;
            }


        }


    }

}

.shoppingCar {
    margin-top: 30px;

    .checkAll,
    .checkone {
        display: none;
    }

    .title {
        background-color: #eee;

        li {
            float: left;
            height: 40px;
            line-height: 40px;
            color: #676767;
            text-align: center;
            position: relative;
        }


        .goods {
            width: 545px;
            text-align: left;
            padding-left: 20px;

        }

        .price {
            width: 100px;
        }

        .num {
            width: 100px;
        }

        .subtotal {
            width: 170px;
        }

        .psfs {
            width: 264px;
        }
    }



    label {
        display: block;
        position: absolute;
        top: 12px;
        left: 20px;
        width: 15px;
        height: 13px;
        background: url(/dist/images/flow_cart_bg_new.png) no-repeat -22px 0;
    }

    .label-active {
        background: url(/dist/images/flow_cart_bg_new.png) no-repeat 0 0;
    }

    .goods_list {

        .info {
            padding: 25px;
            height: 80px;
            border: solid 1px #ddd;

            div {
                float: left;
            }

            .input-checked {
                position: relative;
                width: 73px;
                height: 23px;
            }

            .smallImg {
                width: 112px;
                padding: 1px;
                background: #fff;
                border: 1px solid #ddd;
                vertical-align: middle;

            }

            .goods-name {
                width: 185px;
                padding-left: 15px;
                text-align: left;
            }



            .price {
                width: 140px;
                height: 16px;
                text-align: center;
                margin-left: 200px;
                color: #000;
            }

            .num {
                width: 68px;
                text-align: center;
                height: 20px;

            }

            .psfs {
                text-align: center;
                margin: 0 100px;
            }

            .subtotal {
                width: 120px;
                text-align: center;
                margin-left: 6px;
                line-height: 1.5;
                font-weight: 700;
                color: #555;

            }

        }
    }

    .order_info {
        position: relative;
        top: -1px;
        float: right;
        width: 398px;
        height: 84px;
        padding: 26px 25px 30px;
        border: 1px solid #e62318;

        p {
            text-align: right;
            font-size: 14px;
            color: #333;

            span {
                color: #666;
            }
        }

        .spe span {
            font-size: 22px;
            font-weight: 700;
            color: #e62318;
        }

        .post_address {
            margin: 10px 0;
        }
    }

    .submit {
        width: 154px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        background-color: #e62318;
        position: absolute;
        bottom: -40px;
        right: -1px;
    }

}