$global-color: #e62318;

.settleAccounts-header {
    height: 116px;
    background-color: #fff;
    line-height: 0;

    .w {
        height: 56px;
        padding: 30px 0;
    }

    .left {
        float: left;

        .logo {
            position: relative;
            display: inline-block;
            width: 160px;
            top: -10px;
        }

        span {
            font-size: 24px;
            position: relative;
            top: 28px;
            left: 12px;
            color: black;

        }
    }

    .right {
        float: right;
        width: 520px;
        height: 44px;
        background: url(/dist/images/flow_step.png) 0 -45px no-repeat;
        margin-top: 9px;

    }
}


.address {
    .title {
        height: 37px;
        line-height: 37px;

        span {
            float: left;
            font-size: 20px;
        }

        a {
            float: right;
            color: $global-color;

            i {
                font-size: 14px;
            }
        }
    }


    .address-box {
        padding: 4px;
        border: 1px solid #ddd;

        .addAddress {
            padding: 59px 0;
            text-align: center;
            font-size: 16px;
            color: $global-color;
            cursor: pointer;

            i {
                font-size: 16px;
                margin: 2px;
            }

        }


    }

    .info-input {

        .shadow {
            width: 100vw;
            height: 100vh;
            background-color: #000;
            opacity: .6;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100000;

        }

        .address-input {
            width: 910px;
            background: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000001;
            border: 5px solid rgba(200, 200, 200, .5);

            .head {
                background: #f1f1f1;
                padding: 0 15px;
                font-size: 16px;
                height: 37px;
                line-height: 37px;

                a {
                    width: 20px;
                    height: 20px;
                    float: right;

                    i {
                        font-size: 20px;
                    }
                }
            }

            .address-input-table {
                td {
                    padding: 15px 0;
                }

                .label {
                    width: 120px;
                    text-align: right;


                }
                .must::before{
                    content: '*';
                    color: #e62318;
                }

                .value {
                    input {
                        height: 24px;
                        line-height: 20px;
                        color: #555;
                        border: 1px solid #ddd;
                        padding: 0 3px;
                    }


                    .btn {
                        float: left;
                        height: 20px;
                        padding-left: 10px;
                        color: #fff;
                        font-weight: 700;
                        background: url(/dist/images/bg2.png) 0 -140px no-repeat;
                        cursor: pointer;
                        padding-top: 5px;
                        line-height: 17px;
                        .rr {
                            float: right;
                            width: 10px;
                            background: url(/dist/images/bg2.png) -299px -140px no-repeat;
                            height: 25px;
                            margin-top: -5px;
                        }
                    }
                }
                
                tr:nth-of-type(3) {
                    input {
                        width: 320px;
                    }
                }
            }


        }


    }

}